.page-footer {
	background-color: #112d4e;
	color: #ffffff;

	margin-top: -15px;

	padding-bottom: 50px;

	&__wrapper {
		display: flex;

		flex-flow: row nowrap;
		justify-content: space-between;

		margin-left: 55px;
		margin-right: 55px;
		padding-top: 70px;

		border-bottom: 1px solid #ffffff;

	}
	&__item {
		flex-shrink: 1;
	}

	&__company-info {
		width: 370px;
		height: 200px;
	}

	&__logo {
	}

	&__documents {
	}

	&__h3 {
	}

	&__menu {
	}

	&__about {
	}

	&__social {
	}

	&__legal-address {
		padding-top: 40px;
		text-align: center;
	}
}
