html {
  scroll-behavior: smooth; }

body {
  background-color: #ffffff;
  font-family: "Myriad Pro", Arial, Helvetica, sans-serif;
  font-size: 15px; }

img {
  max-width: 100%;
  height: auto; }

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.disabled {
  cursor: default; }

.page-main {
  background-color: #ffffff; }

section {
  width: 100%;
  padding-top: 72px; }

.section__h2 {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 36px;
  color: #112d4e;
  font-weight: normal; }

.section__subtitle {
  display: block;
  text-align: center;
  text-transform: uppercase;
  color: #4c4c4c;
  font-size: 14px;
  position: relative; }

.section__subtitle::before {
  content: "";
  width: 40px;
  height: 1px;
  position: absolute;
  left: 50%;
  top: -18px;
  margin-left: -20px;
  background-color: #3f72af; }

.page-header__top-wrapper {
  width: 100%;
  height: 100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 27px;
  padding-bottom: 23px;
  padding-left: 55px;
  padding-right: 55px;
  background-color: #ededed; }

.page-header__logo {
  width: 199px;
  height: 51px;
  background-image: url(../img/logo.png);
  background-repeat: no-repeat;
  background-position: top 0 left 0; }

.page-header__nav-ul {
  height: 50px;
  width: 390px;
  font-size: 16px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .page-header__nav-ul li {
    display: block; }
  .page-header__nav-ul li a {
    color: #666666;
    text-decoration: none;
    padding: 20px; }
  .page-header__nav-ul li a:hover {
    color: #999999;
    text-decoration: underline; }
  .page-header__nav-ul li a.page-header__contact-us {
    color: #3f72af;
    width: 130px;
    border: 1px solid #999999;
    border-radius: 10px; }
  .page-header__nav-ul li a.page-header__contact-us:hover {
    text-decoration: none;
    background-color: #8b8b8b;
    color: #ffffff; }

.page-header__slogan {
  display: block;
  margin-top: 90px;
  font-size: 50px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 1.5em; }
  .page-header__slogan small {
    display: block;
    font-size: 21px;
    line-height: 1.6em;
    margin-top: 40px; }

.page-header__form-form {
  margin-top: 70px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  padding-right: 40px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 16px; }
  .page-header__form-form input {
    background-color: #dbe2ef;
    color: #666666;
    border: none;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 30px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .page-header__form-form button {
    border-radius: 30px;
    background-color: #3f72af;
    color: #ffffff; }

.page-header__form-tel {
  width: 320px;
  height: 50px;
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%; }

.page-header__form-rate {
  width: 170px;
  height: 50px; }

.page-header__form-button {
  width: 170px;
  height: 50px; }

.page-header__form {
  height: 620px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.page-header__form-left {
  -webkit-flex-basis: 40%;
      -ms-flex-preferred-size: 40%;
          flex-basis: 40%;
  position: relative;
  background-color: #ededed; }

.page-header__form-right {
  -webkit-flex-basis: 60%;
      -ms-flex-preferred-size: 60%;
          flex-basis: 60%;
  -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
          flex-shrink: 1;
  background-color: #dbe2ef;
  position: relative; }
  .page-header__form-right img {
    position: absolute;
    bottom: -24px;
    left: 100px; }

.page-header__left-inside {
  width: 400px;
  position: absolute;
  top: 0;
  right: 0; }

.features__wrapper {
  width: 1170px;
  margin: 0 auto; }

.features__ul {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  margin-top: 60px;
  margin-bottom: 100px; }
  .features__ul li {
    padding-top: 133px;
    display: block;
    width: 265px;
    height: 190px;
    position: relative; }
    .features__ul li p {
      text-align: center; }
  .features__ul .li001::before {
    content: "";
    position: absolute;
    top: 44px;
    left: 50%;
    margin-left: -38px;
    background-image: url(../img/li1.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 76px;
    height: 76px; }
  .features__ul .li002::before {
    content: "";
    position: absolute;
    top: 44px;
    left: 50%;
    margin-left: -38px;
    background-image: url(../img/li2.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 76px;
    height: 76px; }
  .features__ul .li003::before {
    content: "";
    position: absolute;
    top: 44px;
    left: 50%;
    margin-left: -38px;
    background-image: url(../img/li3.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 76px;
    height: 76px; }

.features__h3 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 28px;
  font-weight: normal;
  text-align: center; }

.how-it-works {
  background-color: #f9f7f7; }
  .how-it-works__wrapper {
    width: 1170px;
    margin: 0 auto; }
  .how-it-works__ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 60px;
    font-size: 18px; }
    .how-it-works__ul li {
      -webkit-flex-basis: 30%;
          -ms-flex-preferred-size: 30%;
              flex-basis: 30%;
      margin-bottom: 30px; }
  .how-it-works__h3 {
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4c4c4c;
    font-weight: normal; }

.offer {
  padding-top: 100px;
  padding-bottom: 100px; }
  .offer__box {
    width: 615px;
    height: 255px;
    margin: 0 auto;
    background-color: #3f72af;
    color: #ffffff;
    padding: 70px 90px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-image: url(../img/box-bg001.png);
    background-repeat: no-repeat;
    background-position: top 0 left 0;
    background-size: cover; }
    .offer__box p {
      font-size: 18px;
      line-height: 1.2em;
      text-align: center; }
  .offer__h2 {
    font-family: "Myriad Pro", Arial, Helvetica, sans-serif;
    font-size: 48px;
    text-align: center; }
  .offer__button {
    background-color: #112d4e;
    border-radius: 30px;
    padding: 20px;
    width: 160px;
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
    cursor: pointer; }
  .offer__button:hover, .offer__button:focus {
    background-color: #15365e;
    color: #efefef; }

.partners {
  background-color: #f9f7f7; }

.faq {
  background-color: #f9f7f7; }

.plans-calc {
  background-color: #3f72af;
  background-image: url(../img/calc-bg001.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 222px; }
  .plans-calc__form {
    width: 1000px;
    height: 90px;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column wrap;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-align-content: space-around;
        -ms-flex-line-pack: distribute;
            align-content: space-around;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    color: #ffffff;
    font-size: 18px; }
    .plans-calc__form input {
      width: 232px;
      height: 10px;
      padding: 20px;
      margin-top: 15px;
      border-radius: 30px;
      border: none; }
    .plans-calc__form .button {
      width: 272px;
      height: 50px;
      color: #ffffff;
      border: 2px solid #ffffff;
      background: none;
      border-radius: 30px;
      font-size: 16px; }

.page-footer {
  background-color: #112d4e;
  color: #ffffff; }
