//Styles for Mobile
html {
	scroll-behavior: smooth;
}
body {
	background-color: $bg-color;
	font-family: "Myriad Pro", Arial, Helvetica, sans-serif;
	font-size: 15px;
}
img {
	max-width: 100%;
	height: auto; 
}
.visually-hidden:not(:focus):not(:active) {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px; 
	border: 0;
	padding: 0;

	white-space: nowrap; 

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.disabled {
	cursor:default;
}

.page-main {
	background-color: #ffffff;
}

@import "blocks/page-header";