//Styles for Mobile

html {
	scroll-behavior: smooth;
}
body {
	background-color: $bg-color;
	font-family: "Myriad Pro", Arial, Helvetica, sans-serif;
	font-size: 15px;
}
img {
	max-width: 100%;
	height: auto; 
}
.visually-hidden:not(:focus):not(:active) {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px; 
	border: 0;
	padding: 0;

	white-space: nowrap; 

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.disabled {
	cursor:default;
}

.page-main {
	background-color: #ffffff;
}

section {
	width: 100%;
	box-sizing: border-box;
}
@media(max-width:$tablet-width){
	section {
		padding: 10px;
	}
}

.section__h2 {
	text-align: center;

	font-family: Georgia, 'Times New Roman', Times, serif;

	font-size: 28px;

	color: #112d4e;

	font-weight: normal;
}


.section__subtitle {
	display: block;
	text-align: center;
	text-transform: uppercase;
	color: #4c4c4c;
	font-size: 12px;

	position: relative;
}

.section__subtitle::before {
	content: "";
	width: 40px;
	height: 1px;

	position: absolute;
	left: 50%;
	top: -13px;

	margin-left: -20px;

	background-color: #3f72af;
}

//Styles for Desktop

@media(min-width:$desktop-width) {

section {
	padding-top: 72px;
}

.section__h2 {
	font-size: 36px;
}

.section__subtitle {
	font-size: 14px;
}

.section__subtitle::before {
	top: -18px;
}
}

@import "blocks/page-header";
@import "blocks/features";
@import "blocks/how-it-works";
@import "blocks/offer";
@import "blocks/partners";
@import "blocks/faq";
@import "blocks/plans-calc";
@import "blocks/price";
@import "blocks/review";
@import "blocks/map";

@import "blocks/page-footer";