
$tablet-width: 768px;
$desktop-width: 1240px;
$mobile-width-only: 767px;

//$wrapper-width: 1280px;

//$main-padding: 55px;
//$main-padding-mobile: 20px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$bg-color: #ededed;