
//$tablet-width: 768px;
$tablet-width: 1000px;
$desktop-width: 1240px;
//$desktop-width: 1024px;

$mobile-width-only: 767px;

//$wrapper-width: 1280px;

//$main-padding: 55px;
//$main-padding-mobile: 20px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$bg-color: #ffffff;